<div class="layout">
    <div class="title">
        <h2>
            Welcome to Vidly API
        </h2>
    </div>
    <section>
   

        <div class="description">
            <h3>The list of End-points are given below as</h3>
            <ul class="list">
                <li>GET - /api/genres</li>
                <li>GET - /api/genres/:id</li>
                <li>PUT - /api/genres/:id</li>
                <li>DELETE - /api/genres/:id</li>
                <li>POST - /api/genres/add</li>
            </ul>
        </div>
             <div class="banner">
            <h2>Introduction</h2>
            <p>
                This is a simple API create to serve Video resources
                for now only Genres are served
            </p>
        </div>
    </section>
</div>